body {
  font-family: sans-serif;
}

.x {
  background-color: rgb(124, 252, 0);
}

.o {
  background-color: rgb(250, 128, 114);
}

.container {
  margin: 20px;
  height: 100%;
  width: 100%;
}

.progress {
  width: 400px;
}

.row {
  height: 60px;
  margin: 0;
}

.col {
  border: 1px solid black;
  height: 100%;
  width: 60px;
  font-family: Helvetica;
  font-size: 30px;
}
