body {
  font-family: sans-serif;
}

table {
  height: 100%;
}

table,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

td {
  width: 60px;
  height: 60px;
  text-align: center;
  vertical-align: middle;
  font-family: Helvetica;
  font-size: 30px;
}

.x {
  background-color: rgb(124, 252, 0);
}

.o {
  background-color: rgb(250, 128, 114);
}

.progress {
  width: 400px;
}

.determinate {
  width: 400px;
}
